<div th:fragment="header">
    <!-- ***** Header Area Start ***** -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index" class="logo">Car Dealer<em> Website</em></a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="index">Home</a></li>
                        <li><a href="cars">Cars</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About</a>

                            <div class="dropdown-menu">
                                <a class="dropdown-item active"  href="about">About Us</a>
                                <a class="dropdown-item" href="blog">Blog</a>
                                <a class="dropdown-item" href="team">Team</a>
                                <a class="dropdown-item" href="testimonials">Testimonials</a>
                                <a class="dropdown-item" href="faq">FAQ</a>
                                <a class="dropdown-item" href="terms">Terms</a>
                            </div>
                        </li>
                        <li><a href="contact">Contact</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
    <!-- ***** Header Area End ***** -->
</div>